<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cartoes.css') }}">
    <link rel="icon" href="../static/Routes Logistics.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="menu-lateral">
        <div class="btn-expandir" onclick="responsiveNav()">
            <i class="bi bi-list" id="btn-exp"></i>
        </div>
        <ul>
            <li class="item-menu">
                <a href="/homepage" class="active">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/motoristas">
                    <span class="icon"><i class="bi bi-file-earmark-person"></i></span>
                    <span class="txt-link">Motoristas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/viagens">
                    <span class="icon"><i class="bi bi-sign-turn-right-fill"></i></span>
                    <span class="txt-link">Rotas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/veiculos">
                    <span class="icon"><i class="bi bi-car-front-fill"></i></span>
                    <span class="txt-link">Veículos</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/cartoes">
                    <span class="icon"><i class="bi bi-card-list"></i></span>
                    <span class="txt-link">Cartões</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/login">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="txt-link">Login</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/logout">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="txt-link">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Gerenciamento de Cartões</h1>
        <h2>Lista de Cartões</h2>
        {% if cartoes %}
        <table>
            <ul id="cartoes-list"></ul>

            <thead>
                <tr>
                    <th>Tag UID</th>
                    <!-- Adicione outras colunas conforme necessário -->
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cartao_id, cartao in cartoes.items() %}
                <tr>
                    <td>{{ cartao['uid'] }}</td>
                    <!-- Adicione outras células conforme necessário -->
                    <td>
                        <!-- Botões de ação -->
                        <a href="http://127.0.0.1:5000/editar_cartao/{{ cartao['uid'] }}" class="button editar-button">Editar</a>
                        <form action="{{ url_for('deletar_cartao_route', uid=cartao['uid']) }}" method="post" style="display:inline;">
                            <button type="submit" class="button apagar-button">Apagar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Não há cartões cadastrados.</p>
        <p>Por favor, <a href="http://127.0.0.1:5000/cartoes_cadastro">cadastre um novo cartão</a>.</p>
        {% endif %}
        <a href="/homepage" class="button">Início</a>
        <a href="/cartoes_cadastro" class="button editar-button">Cadastrar novo cartão</a>
    </div>
    <script>
        //Seleciona os itens clicado
        var menuItem = document.querySelectorAll('.item-menu')

        function selectLink(){
            menuItem.forEach((item)=>
                item.classList.remove('ativo')
            )
            this.classList.add('ativo')
        }

        menuItem.forEach((item)=>
            item.addEventListener('click', selectLink)
        )

        //Expandir o menu

        var btnExp = document.querySelector('#btn-exp')
        var menuSide = document.querySelector('.menu-lateral')

        btnExp.addEventListener('click', function(){
            menuSide.classList.toggle('expandir')
        })
    </script>
    <script src="{{ url_for('static', filename='update_cartoes.js') }}"></script>
</body>
</html>