<!-- templates/editar_cartao.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cartão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editar_cartao.css') }}">
    <link rel="icon" href="../static/Routes Logistics.png">
</head>
<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Veículos</a>
        <a href="/cartoes">Cartões</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <div class="container">
        <h1>Editar Cartão</h1>
        <form action="/editar_cartao/{{ cartao['uid'] }}" method="POST">
            <div class="input-box">
                <label for="uid">UID do Cartão:</label>
                <input type="text" id="uid" name="uid" value="{{ cartao['uid'] }}">
            </div>
            <br>
            <a href="/cartoes" class="button">Voltar</a>
            <input type="submit" class="button editar-button" value="Salvar">
        </form>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>
