<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar e Editar Veiculo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editar_veiculo.css') }}">
</head>

<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <br>
    <div class="container">
        <h1>Editar veiculos</h1>
        <h2>Motorista responsável da Viagem: {{ veiculo.placa }}</h2>
        <form action="/editar_veiculo/{{ veiculo['placa'] }}" method="POST">

            <label for="placa">Placa:</label>
            <input type="text" id="placa" name="placa" value="{{ veiculo.placa }}"><br>

            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" value="{{ veiculo.marca }}"><br>

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" value="{{ veiculo.modelo }}"><br>

            <label for="ano_fabricacao">Ano:</label>
            <input type="text" id="ano_fabricacao" name="ano_fabricacao" value="{{ veiculo.ano_fabricacao }}"><br>

            <label for="tipo_veiculo">Tipo:</label>
            <input type="text" id="tipo_veiculo" name="tipo_veiculo" value="{{ veiculo.veiculo }}"><br>

            <label for="capacidade_carga">Capacidade de Carga:</label>

            <input type="text" id="capacidade_carga" name="capacidade_carga" value="{{ veiculo.capacidade_carga }}"><br>

            <label for="tag_rfid">Tag RFID:</label>
            <input type="text" id="tag_rfid" name="tag_rfid" value="{{ veiculo.tag_rfid }}"><br>

            <br>

            <a href="/veiculos" class="button editar-button">Voltar</a>
            <input type="submit" class="button editar-button" value="Salvar alterações">
        </form>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>

</html>