<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar e Editar Motorista</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editar_motorista.css') }}">
    <link rel="icon" href="../static/Routes Logistics.png">
</head>
<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
	
    <div class="container">
    <h1>Editar Motorista</h1>
    <h2>Informações do Motorista: {{ motorista.nome }}</h2>
    <form action="/editar_motorista/{{ motorista['nome'] }}" method="POST">
        
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ motorista.cpf }}"><br>
        
        <label for="cnh">CNH:</label>
        <input type="text" id="cnh" name="cnh" value="{{ motorista.cnh }}"><br>
        
        <label for="id_veiculo">ID do Veículo:</label>
        <input type="text" id="id_veiculo" name="id_veiculo" value="{{ motorista.id_veiculo }}"><br>
        
        <label for="validade_cnh">Validade da CNH:</label>
        <input type="text" id="validade_cnh" name="validade_cnh" value="{{ motorista.validade_cnh }}"><br>
        
        <!-- Adicione um campo oculto para armazenar o nome do motorista -->
        <input type="hidden" id="nome" name="nome" value="{{ motorista.nome }}">
        <a href="/motoristas" class="button">Voltar</a>
        <button type="submit" class="button editar-button">Salvar Alterações</button>
    </form>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>