<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motoristas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='motoristas_cadastro.css') }}">
    <link rel="icon" href="../static/Routes Logistics.png">
</head>
<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
	
    <div class="container">
            <h1>Cadastro de Motoristas</h1>
            <form action="/cadastrar_motorista" method="POST">
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome"><br>
            
            <label for="cpf">CPF:</label><br>
            <input type="text" id="cpf" name="cpf"><br>
            
            <label for="cnh">CNH:</label><br>
            <input type="text" id="cnh" name="cnh"><br>
            
            <label for="id_veiculo">ID do Veículo:</label><br>
            <input type="text" id="id_veiculo" name="id_veiculo"><br>
            
            <label for="validade_cnh">Validade CNH:</label><br>
            <input type="text" id="validade_cnh" name="validade_cnh"><br>
            <br>
            <input type="submit" class="button editar-button" value="Cadastrar">
            <a href="/motoristas" class="button">Voltar</a>
        </form>
    </div>

    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>
