<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motoristas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='motoristas.css') }}">
    <link rel="icon" href="../static/Routes Logistics.png">
</head>

<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">rotas</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <br>
    <div class="container">
        <h1>Gerenciamento de motoristas</h1>
        <h2>Lista de Motoristas</h2>
        {% if motoristas %}
        <ul>
            {% for motorista_id, motorista in motoristas.items() %}
            <li>
                Nome: {{ motorista['nome'] }}<br>
                CPF: {{ motorista['cpf'] }}<br>
                CNH: {{ motorista['cnh'] }}<br>
                <!-- Adicione outros campos que deseja exibir -->

                <!-- Adicione o botão de editar -->
                <a href="http://127.0.0.1:5000/editar_motorista/{{ motorista['nome'] }}"
                    class="button editar-button">Editar</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há motoristas cadastrados.</p>
        {% endif %}
        <a href="/" class="button">Início</a>
        <a href="http://127.0.0.1:5000/motoristas_cadastro" class="button editar-button">Cadastrar novo motorista</a>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>