<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veiculos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='veiculos.css') }}">
    <link rel="icon" href="../static/Routes Logistics.png">
</head>
<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Rotas</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <br>
    <div class="container">
    <h1>Gerenciamento de veículos</h1>
    <h2>Lista de Veiculos</h2>
    {% if veiculos %}
        <ul>
            {% for veiculo_id, veiculo in veiculos.items() %}
                <li>
                    Placa: {{ veiculo['placa'] }}<br>
                    Marca: {{ veiculo['marca'] }}<br>
                    Modelo: {{ veiculo['modelo'] }}<br>
                    Ano: {{ veiculo['ano_fabricacao'] }}<br>
                    Tipo: {{ veiculo['tipo_veiculo'] }}<br>
                    Carga: {{ veiculo['capacidade_carga'] }}<br>
                    Tag RFID: {{ veiculo['tag_rfid'] }}
                    <br>
                    <a href="http://127.0.0.1:5000/editar_veiculo/{{ veiculo['placa'] }}"
                    class="button editar-button">Editar</a>
                    <!-- Adicione outros campos que deseja exibir -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>Não há veículos cadastrados.</p>
    {% endif %}
    <a href="/" class="button editar-button">Início</a>
    <a href="http://127.0.0.1:5000/veiculos_cadastro"><input type="submit" class="button editar-button" value="Cadastrar novo veiculo"></a>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>
