<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veiculos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='veiculos_cadastro.css') }}">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../static/Routes Logistics.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
</head>
<body>
    <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div><!--btn-expandir-->
        <ul>
            <li class="item-menu">
                <a href="/homepage" class="active">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/dashboard">
                    <span class="icon"><i class="bi bi-columns-gap"></i></i></span>
                    <span class="txt-link">Dashboard</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/motoristas">
                    <span class="icon"><i class="bi bi-file-earmark-person"></i></span>
                    <span class="txt-link">Motoristas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/viagens">
                    <span class="icon"><i class="bi bi-sign-turn-right-fill"></i></span>
                    <span class="txt-link">Rotas</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/veiculos" class="active">
                    <span class="icon"><i class="bi bi-car-front-fill"></i></span>
                    <span class="txt-link">Veículos</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/cartoes">
                    <span class="icon"><i class="bi bi-card-list"></i></span>
                    <span class="txt-link">Cartões</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/registrar">
                    <span class="icon"><i class="bi bi-person-circle"></i></span>
                    <span class="txt-link">Singup</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="/logout">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="txt-link">Logout</span>
                </a>
            </li>
        </ul>
    </nav><!--menu-lateral-->
    
    <div class="container">
        <h1>Cadastro de Veículos</h1>
        <form action="/cadastrar_veiculo" method="POST">
    
            <div class="input-box">
                <label for="placa">Placa:</label>
                <input type="text" id="placa" name="placa" placeholder="Digite a placa do veículo">
            </div>
    
            <div class="input-box">
                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" placeholder="Digite a marca do veículo">
            </div>
    
            <div class="input-box">
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" name="modelo" placeholder="Digite o modelo do veículo">
            </div>
    
            <div class="input-box">
                <label for="ano_fabricacao">Ano:</label>
                <input type="text" id="ano_fabricacao" name="ano_fabricacao" placeholder="Digite o ano de fabricação do veículo">
            </div>
    
            <div class="input-box">
                <label for="tipo_veiculo">Tipo:</label>
                <input type="text" id="tipo_veiculo" name="tipo_veiculo" placeholder="Digite o modelo do veículo">
            </div>
    
            <div class="input-box">
                <label for="capacidade_carga">Capacidade de Carga:</label>
                <input type="text" id="capacidade_carga" name="capacidade_carga" placeholder="Digite a capacidade de carga do veículo">
            </div>
    
            <div class="input-box">
                <label for="tag_rfid">Tag RFID:</label>
                <input type="text" id="tag_rfid" name="tag_rfid" placeholder="Digite a tag_rfid">
            </div>
    
            <a href="/veiculos" class="button">Voltar</a>
            <input type="submit" class="button editar-button" value="Cadastrar">
        </form>
    </div>

    <script>
        //Seleciona os itens clicado
        var menuItem = document.querySelectorAll('.item-menu')

        function selectLink(){
            menuItem.forEach((item)=>
                item.classList.remove('ativo')
            )
            this.classList.add('ativo')
        }

        menuItem.forEach((item)=>
            item.addEventListener('click', selectLink)
        )

        //Expandir o menu

        var btnExp = document.querySelector('#btn-exp')
        var menuSide = document.querySelector('.menu-lateral')

        btnExp.addEventListener('click', function(){
            menuSide.classList.toggle('expandir')
        })
    </script>
</body>
</html>
