<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='viagens_cadastro.css') }}">
     <link rel="icon" href="../static/Routes Logistics.png">
</head>
<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Rotas</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <br>
    <div class="container">
        <h1>Cadastro de Rotas</h1>
        <form action="/cadastrar_viagem" method="POST">
    
            <div class="input-box">
                <label for="origem">Origem:</label>
                <input type="text" id="origem" name="origem" placeholder="Digite local de origem">
            </div>
    
            <div class="input-box">
                <label for="destino">Destino:</label>
                <input type="text" id="destino" name="destino" placeholder="Digite local de entrega">
            </div>
    
            <div class="input-box">
                <label for="data_inicio">Data de Início:</label>
                <input type="text" id="data_inicio" name="data_inicio">
            </div>
    
            <div class="input-box">
                <label for="data_fim">Data de Fim:</label>
                <input type="text" id="data_fim" name="data_fim">
            </div>
    
            <div class="input-box">
                <label for="distancia_total">Distância Total:</label>
                <input type="text" id="distancia_total" name="distancia_total" placeholder="Digite a distância em km">
            </div>
    
            <div class="input-box">
                <label for="status_viagem">Status da Rota:</label>
                <input type="text" id="status_viagem" name="status_viagem">
            </div>
    
            <div class="input-box">
                <label for="motorista">Nome do Motorista:</label>
                <input type="text" id="motorista" name="motorista" placeholder="Digite o nome do motorista">
            </div>
    
            <a href="/viagens" class="button">Voltar</a>
            <input type="submit" class="button editar-button" value="Cadastrar">
        </form>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>
</html>
