<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='viagens.css') }}">
     <link rel="icon" href="../static/Routes Logistics.png">
</head>

<body>
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Rotas</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <br>
    <div class="container">
        <h1>Gerenciamento de rotas</h1>
        <h2>Lista de viagens</h2>
        {% if viagens %}
        <ul>
            {% for viagem_id, viagem in viagens.items() %}
            <li>
                Motorista: {{ viagem['motorista'] }}<br>
                Origem: {{ viagem['origem'] }}<br>
                Destino: {{ viagem['destino'] }}<br>
                Data de Início: {{ viagem['data_inicio'] }}<br>
                Data de Fim: {{ viagem['data_fim'] }}<br>
                Distância Total: {{ viagem['distancia_total'] }}<br>
                Status da Rota: {{ viagem['status_viagem'] }}<br>
                <a href="http://127.0.0.1:5000/editar_viagem/{{ viagem['motorista'] }}"
                    class="button editar-button">Editar</a>
                <!-- Adicione outros campos que deseja exibir -->
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há viagens cadastradas.</p>
        {% endif %}
        <a href="http://127.0.0.1:5000/viagens_cadastro"><input type="submit" class="button editar-button" value="Cadastrar nova viagem"></a>
        <a href="/" class="button">Início</a>
    </div>
    <script>
        function responsiveNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
</body>

</html>