<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens</title>
    <link rel="stylesheet" href="viagens_cadastro.css">
</head>
<body>
    
    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>

    <div class="container">
        <form action="/cadastrar_viagem" method="POST">
        <h2>Cadastro de Viagens</h2>

            <label for="dados_inicio">Data de Início:</label><br>
            <input type="text" id="dados_inicio" name="dados_inicio"><br>
            <label for="dados_fim">Data de Fim:</label><br>
            <input type="text" id="dados_fim" name="dados_fim"><br>
            <label for="distancia_total">Distância Total:</label><br>
            <input type="text" id="distancia_total" name="distancia_total"><br>
            <label for="status_viagem">Status da Viagem:</label><br>
            <input type="text" id="status_viagem" name="status_viagem"><br>
            <br>
            <input type="submit" value="Cadastrar">  
        </form>
    </div>  
</body>

<script>
    function responsiveNav() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar") {
            x.className += " responsive";
        } else {
            x.className = "navbar";
        }
    }
</script>

</html>
