<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens</title>
    <link rel="stylesheet" href="viagens.css">
</head>
<body>

    <nav class="navbar" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/motoristas">Motoristas</a>
        <a href="/viagens">Viagens</a>
        <a href="/veiculos">Veículos</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
<br>


    <div class="container">
        <h1>Gerenciamento de viagens</h1>
        <h2>Lista de viagens</h2>
        {% if viagens %}
        <ul>
            {% for viagem_id, viagem in viagens.items() %}
                <li>
                    Data de Início: {{ viagem['dados_inicio'] }}<br>
                    Data de Fim: {{ viagem['dados_fim'] }}<br>
                    Distância Total: {{ viagem['distancia_total'] }}<br>
                    Status da Viagem: {{ viagem['status_viagem'] }}<br>
                    <!-- Adicione outros campos que deseja exibir -->
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há viagens cadastradas.</p>
        {% endif %}
        <a href="http://127.0.0.1:5000/viagens_cadastro"><input type="submit" value="Cadastrar nova viagem"></a>
        <a href="/" class="button">Início</a>
    </div>

</body>

<script>
    function responsiveNav() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar") {
            x.className += " responsive";
        } else {
            x.className = "navbar";
        }
    }
</script>

</html>
